main .div-main{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    border-radius: 30px;
    border: solid 1px var(--cor-azul);
    /* box-shadow: 1px 1px 30px 2px var(--cor-azul); */
}

main .div-main:hover{
    box-shadow: 1px 1px 30px 2px var(--cor-azul);
    transition: 1s;
}

main .div-form{
    width: inherit;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    flex-direction: column;
}

/* --------------------------- Section Média ---------------------------  */

.div-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: 200px;
    background-color: lightyellow;
}

.div-input > .div-textbox{
    width: inherit;
    height: 100px;
}

.div-input > .div-textbox > .input-value{
    width: 200px;
    height: 70px;
    border: none;
    margin-top: 2%;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    color: var(--cor-azul);
}

.div-input button{
    width: 200px;
    height: fit-content;
    background-color: lightslategrey;
    font-size: 2rem;

}


.div-resultado{
    width: auto;
}