/* variáveis */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

body > div.caixaMenu{
    height: 200px;
    width: 150px;
}

body > div.caixaMenu > ul.menu{
    width: inherit;
    height: inherit;
    background-color: lightpink;
}

body > div.caixaMenu > ul.menu > .menuItem{
    list-style: none;
    width: inherit;
    height: 30px;
    color: black;
    text-align: center;
    padding-top: 10px;
}

body > div.caixaMenu > ul.menu > .menuItem:hover{
    background-color: darkmagenta;
    color: white;
    cursor: pointer;
}


body > div.caixaMenu > ul.menu > .menuItem:hover > .boxSubMenu{
    display: block;
    visibility: visible; /* define qual a visibilidade do elemento */
    margin-left: 150px; 
    transition: 1s; /* define uma transição a qual o código deverá ser executado */
    opacity: 1; /* define a opacidade do elemento */
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.boxSubMenu{
    width: 150px;
    height: 130px;
    margin-top: -30px;
    background-color: darkmagenta;
    visibility: hidden;
    opacity: 0;
}

.boxSubMenu > ul > li{
    padding-top: 12px;
    list-style: none;
    
}

.boxSubMenu > ul > li:hover{
    background-color: lightpink;
    color: black;

}